.father {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(8, 16, 39);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: fit-content;
    height: fit-content;
    border: 1px solid black;
    background-color: rgb(0, 30, 75);
}

img {
    width: 200px;
    height: 200px;
    margin-left: 20px;
}

h3 {
    color: white;
}

p {
    color: gray;
}

.inline1 {
    display: inline-block;
}

.inline2 {
    display: inline-block;
    margin-left: 87px;
}

h5 {
    color: white;
}

#avatar {
    width: 30px;
    height: 30px;
    border-radius: 60px;
    border: 1px solid white;
    display: inline-block;
}

h4 {
    color: gray;
    display: inline-block;
    margin-bottom: 10px;
}

a {
    color: white;
    margin-left: 4px;
}